@use '@angular/material' as mat;
@use 'src/styles' as theme;

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
app-navbar{
    width: 100%;
    height: 50px;
    color: mat.get-color-from-palette(theme.$accent) !important;
    background-color: mat.get-color-from-palette(theme.$primary) !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    app-navbar{
        height: 70px;
    }
}

@media screen and (min-width: 1200px) {
    app-navbar{
        height: 70px;
    }
}